
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #0e2232;
$fb-color: #4267b2;
$tw-color: #1da1f2;

// Telkom Colors
$t-black: #342c2a;
$t-white: #fff;
$t-darker-grey: #5c5c5c;
$t-dark-grey: #747474;
$t-light-grey: #828282;
$t-major-red: #d51100;
$t-minor-red: #e83328;

$header-back: rgba(255, 255, 255, 0.0);
$header-stick-back: rgba(255, 255, 255, 1);
$header-stick-color: $black;
