// Font
@font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proximanova-regular.woff") format("woff");
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("/fonts/proximanova-bold.woff") format("woff");
}

@font-face {
    font-family: "Proxima Nova Semibold";
    src: url("/fonts/proximanova-semibold.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
@import 'variables';
@import 'nivo';
@import 'style';
@import 'responsive';

body {
	// font-family: "Proxima Nova", Helvetica, sans-serif !important;
    margin: 0;
    color: #0e2232;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.logo {
    width: 80px;
}

.footer-content-fix {
    margin-bottom: 30px;
}

.two-side-rounded {
    border-bottom-right-radius: 60%;
    border-top-left-radius: 60%;
}

.two-side-rounded-prod {
    border-radius: 10%;
}

.two-side-rounded-fixed {
    border-radius: 20px;
}

.two-side-rounded-2 {
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
}

.rounded {
    border-radius: 10px;
}

.Tilt {
    transform-style: preserve-3d;
}

.Tilt-inner {
    transform: translateZ(20px);
}

.Tilt-inner-min {
    transform: translateZ(10px);
}

.fit-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.footer-icons ul li a.facebook:hover {
    background: $fb-color;
    border: 1px solid $fb-color;
}

.footer-icons ul li a.twitter:hover {
    background: $tw-color;
    border: 1px solid $tw-color;
}

// .header {
//     box-shadow: 0 10px 15px rgba(228, 228, 228, 0.95) !important;
// }

.loading {
    height: 500px;
    overflow: hidden;
    transition: all 0.4s ease 0s;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-menu.show {
    width: 200px;
    border: none;
    box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096);
}

img.menu-flag {
    width: 30px;
    margin-top: -6px;
    margin-right: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,.175);
}

.main-menu ul.navbar-nav li a.dropdown-item {
    width: 100%;
    font-weight: 400;
    color: #212529;
    white-space: nowrap;
    // overflow: hidden;
}

.main-menu ul.navbar-nav li a.dropdown-item:hover {
    color: $t-major-red;
}

.main-menu ul.navbar-nav li a.dropdown-item.active {
    color: $t-major-red;
}

.menu-lang li a {
    padding: 16px 0px !important;
}

.dropdown-submenu {
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    width: 100% !important;
    position: initial;
    padding-bottom: 10px;
    box-shadow: none !important;
}

.dropdown-item {
    display: inline-block;
}

.soft-shadow {
    box-shadow: 0 0px 60px rgba(61, 61, 61, 0.096) !important;
}

.nav-pills>li>a {
    border-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.tab-content {
    border: none;
}

.entry-content h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.entry-content h3 {
    font-size: 22px;
}

.entry-content h4 {
    font-size: 20px;
}

.entry-content h5 {
    font-size: 18px;
}

.entry-content h6 {
    font-size: 16px;
}

.content-text {
    color: #444;
}

.content-text ul li {
    margin: 0 0 6px;
}

.content-text ul li::before {
    color: $t-major-red;
    padding-right: 10px;
    font-size: 12px;
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.share {
    display: flex;
    float: right;
    margin-top: 5px;
}
